<%= link_to "Home", root_path %>
<h1>Dishes</h1>
<%= link_to "Create a new dish", new_dish_path %>
<ol>
  <% @dishes.each do |dish| %>
    <li>
      <%= link_to dish.name, dish_path(dish) %>
    </li>
  <% end %>
</ol>
